Here, we look at a new dataset and try to answer some questions about it.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/iowa_liquor/Iowa_Liquor_Sales.csv', index_col=0)

In [3]:
df.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S29198800001,11/20/2015,2191,Keokuk Spirits,1013 MAIN,KEOKUK,52632,"1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)",56.0,Lee,...,297,Templeton Rye w/Flask,6,750,$18.09,$27.14,6,$162.84,4.50,1.19
1,S29195400002,11/21/2015,2205,Ding's Honk And Holler,900 E WASHINGTON,CLARINDA,51632,"900 E WASHINGTON\nCLARINDA 51632\n(40.739238, ...",73.0,Page,...,297,Templeton Rye w/Flask,6,750,$18.09,$27.14,12,$325.68,9.00,2.38
2,S29050300001,11/16/2015,3549,Quicker Liquor Store,1414 48TH ST,FORT MADISON,52627,"1414 48TH ST\nFORT MADISON 52627\n(40.624226, ...",56.0,Lee,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,$6.40,$9.60,2,$19.20,0.30,0.08
3,S28867700001,11/04/2015,2513,Hy-Vee Food Store #2 / Iowa City,812 S 1ST AVE,IOWA CITY,52240,812 S 1ST AVE\nIOWA CITY 52240\n,52.0,Johnson,...,237,Knob Creek w/ Crystal Decanter,3,1750,$35.55,$53.34,3,$160.02,5.25,1.39
4,S29050800001,11/17/2015,3942,Twin Town Liquor,104 HIGHWAY 30 WEST,TOLEDO,52342,"104 HIGHWAY 30 WEST\nTOLEDO 52342\n(41.985887,...",86.0,Tama,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,$6.40,$9.60,2,$19.20,0.30,0.08

In [4]:
df.columns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

In [5]:
df.shape

(100000, 24)

In [6]:
df.dtypes

Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                  object
Store Location            object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number            float64
Vendor Name               object
Item Number                int64
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost         object
State Bottle Retail       object
Bottles Sold               int64
Sale (Dollars)            object
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
dtype: object

In [7]:
df['Sale (Dollars)'] = df['Sale (Dollars)'].str[1:]
df['Sale (Dollars)'] = pd.to_numeric(df['Sale (Dollars)'])

Or we can also do it this way:

In [8]:
df = df.replace({'\$': ''}, regex=True)

In [9]:
df.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S29198800001,11/20/2015,2191,Keokuk Spirits,1013 MAIN,KEOKUK,52632,"1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)",56.0,Lee,...,297,Templeton Rye w/Flask,6,750,18.09,27.14,6,162.84,4.50,1.19
1,S29195400002,11/21/2015,2205,Ding's Honk And Holler,900 E WASHINGTON,CLARINDA,51632,"900 E WASHINGTON\nCLARINDA 51632\n(40.739238, ...",73.0,Page,...,297,Templeton Rye w/Flask,6,750,18.09,27.14,12,325.68,9.00,2.38
2,S29050300001,11/16/2015,3549,Quicker Liquor Store,1414 48TH ST,FORT MADISON,52627,"1414 48TH ST\nFORT MADISON 52627\n(40.624226, ...",56.0,Lee,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,6.40,9.60,2,19.20,0.30,0.08
3,S28867700001,11/04/2015,2513,Hy-Vee Food Store #2 / Iowa City,812 S 1ST AVE,IOWA CITY,52240,812 S 1ST AVE\nIOWA CITY 52240\n,52.0,Johnson,...,237,Knob Creek w/ Crystal Decanter,3,1750,35.55,53.34,3,160.02,5.25,1.39
4,S29050800001,11/17/2015,3942,Twin Town Liquor,104 HIGHWAY 30 WEST,TOLEDO,52342,"104 HIGHWAY 30 WEST\nTOLEDO 52342\n(41.985887,...",86.0,Tama,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,6.40,9.60,2,19.20,0.30,0.08

1) Which store had the highest total dollars of sales?
    - Is this the same store that had the highest volume (in liters) of alcohol sold?

In [10]:
df.groupby('Store Number').sum().sort_values(by='Sale (Dollars)', ascending=False).index[0]

2633

In [11]:
df.groupby('Store Number').sum().sort_values(by='Volume Sold (Liters)', ascending=False).index[0]

2633

2) Which item has the highest cost per liter?

In [12]:
items = df.groupby('Item Description').sum()
items['cost_per_liter'] = items['Sale (Dollars)'] / items['Volume Sold (Liters)']
items.sort_values(by='cost_per_liter', ascending=False).index[0]

'Macallan Sherry Cask 25 Year Old Scotch - HA'

3) What is the most common pack size?

In [13]:
df.groupby('Pack').count().sort_values(by='Invoice/Item Number', ascending=False).index[0]

12

4) What is the most commonly sold item?

In [14]:
df.groupby('Item Description').sum().sort_values(by='Bottles Sold', ascending=False).index[0]

'Black Velvet'

5) What day in 2015 was the most money made? (Across all stores)

In [15]:
df['Date'] = pd.to_datetime(df['Date'])

In [16]:
date = df.set_index('Date')
date.head()

,Invoice/Item Number,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
Date,,,,,,,,,,,,,,,,,,,,,
2015-11-20,S29198800001,2191,Keokuk Spirits,1013 MAIN,KEOKUK,52632,"1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)",56.0,Lee,NaN,...,297,Templeton Rye w/Flask,6,750,18.09,27.14,6,162.84,4.50,1.19
2015-11-21,S29195400002,2205,Ding's Honk And Holler,900 E WASHINGTON,CLARINDA,51632,"900 E WASHINGTON\nCLARINDA 51632\n(40.739238, ...",73.0,Page,NaN,...,297,Templeton Rye w/Flask,6,750,18.09,27.14,12,325.68,9.00,2.38
2015-11-16,S29050300001,3549,Quicker Liquor Store,1414 48TH ST,FORT MADISON,52627,"1414 48TH ST\nFORT MADISON 52627\n(40.624226, ...",56.0,Lee,NaN,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,6.40,9.60,2,19.20,0.30,0.08
2015-11-04,S28867700001,2513,Hy-Vee Food Store #2 / Iowa City,812 S 1ST AVE,IOWA CITY,52240,812 S 1ST AVE\nIOWA CITY 52240\n,52.0,Johnson,NaN,...,237,Knob Creek w/ Crystal Decanter,3,1750,35.55,53.34,3,160.02,5.25,1.39
2015-11-17,S29050800001,3942,Twin Town Liquor,104 HIGHWAY 30 WEST,TOLEDO,52342,"104 HIGHWAY 30 WEST\nTOLEDO 52342\n(41.985887,...",86.0,Tama,NaN,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,6.40,9.60,2,19.20,0.30,0.08

In [17]:
daily_sales = date.groupby([date.index.year, date.index.month, date.index.day]).sum()['Sale (Dollars)']

In [19]:
daily_sales.loc[(daily_sales.index.get_level_values(level=0) == 2015)].idxmax()

(2015, 3, 16)

6) Which zip code drinks the most? (in liters)

In [20]:
df.groupby(['Zip Code']).sum()['Volume Sold (Liters)'].idxmax()

'52402'

7) Does the data set contain any null values?

In [21]:
df.isnull().any()

Invoice/Item Number      False
Date                     False
Store Number             False
Store Name               False
Address                  False
City                     False
Zip Code                 False
Store Location           False
County Number             True
County                    True
Category                  True
Category Name             True
Vendor Number            False
Vendor Name              False
Item Number              False
Item Description         False
Pack                     False
Bottle Volume (ml)       False
State Bottle Cost        False
State Bottle Retail      False
Bottles Sold             False
Sale (Dollars)           False
Volume Sold (Liters)     False
Volume Sold (Gallons)    False
dtype: bool

8) What is the average state bottle cost?
    - Max cost?
    - Min cost?
    - 50%?

In [22]:
df['State Bottle Cost'] = pd.to_numeric(df['State Bottle Cost'])
print(df['State Bottle Cost'].mean())
print(df['State Bottle Cost'].max())
print(df['State Bottle Cost'].min())
print(df['State Bottle Cost'].median())

9.4551807
563.4
0.0
7.87

9) What is the total volume sold in Iowa City in 2013?

In [36]:
daily = date.groupby([date.index.year, date.index.month, date.index.day]).sum()
daily.loc[(daily.index.get_level_values(level=0) == 2013)].sum()['Volume Sold (Liters)']

221990.70000000004

10) Which month (average, across all years) sees the highest sales?

In [39]:
daily.reset_index()

ValueError: cannot insert Date, already exists

11) Which item has the lowest cost per bottle in a pack?

12) What is the most popular item at Wilkie Liquors?

13) From which item does Wilkie Liquors earn the most of its revenue?

14) Do prices for the same item differ across different stores?

15) Which store sells the most liquor in the city of Des Moines?

16) Make a plot about at least one of these questions: